[submodule "eigen"]
	path = eigen
	url = git@github.com:eigenteam/eigen-git-mirror.git
[submodule "fmt"]
	path = fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "opencv"]
	path = opencv
	url = git@github.com:opencv/opencv.git
[submodule "benchmark"]
	path = benchmark
	url = git@github.com:google/benchmark.git
[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
[submodule "nng"]
	path = nng
	url = git@github.com:nanomsg/nng.git
[submodule "nngpp"]
	path = nngpp
	url = git@github.com:cwzx/nngpp.git
[submodule "json"]
	path = json
	url = git@github.com:nlohmann/json.git
